.message {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.589);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box {
  border-radius: 10px;
  min-width: 350px;
  overflow: hidden;
  background: white;
}

.message-box .title {
  width: 100%;
  padding: 20px;
}
.message-box .note {
  width: 100%;
  padding: 20px 30px;
}

.message-box .close {
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  padding: 10px;
}

.message-box.error .title {
  background-color: red;
  color: rgb(253, 166, 166);
}

.message-box.info .title {
  background-color: blue;
  color: rgb(111, 121, 255);
}
